.env
.env.*
!.env.example

.deploy.remote.env
Deploy.md
Caddyfile

.tmpcheck/
tmp/
tmp/**

data/
data/**
var/
var/**
config/caddy/
config/caddy/**

server
*.log
*.out
*.test
coverage.out

.DS_Store
.idea/
.vscode/

venv_ssh/
public/
scripts/
